.container {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
    border-radius: 10px;
    overflow: hidden;
}


.social-icons {
    display: flex;
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
    font-size: 20px;
}

.contact-form {
    background-color: #F5D696;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}

.contact-form h2 {
    font-size: 3rem;
  margin-bottom: 10px;
  color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form p {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form fieldset {
    border: none;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form button {
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}