/* General Styles */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
@import "aos/dist/aos.css";

:root {
  --primary-color: #ffbf00; 
  --secondary-color: #f7f6f2; 
  --accent-color: #f9e6df; 
  --highlight-color: #8e3807; 
  --dark-text: #333333; 
  --light-text: #f7f7f7; 
  --gray-dark: #4a4a4a; 
  --gray-light: #f0f0f0; 
  --button-hover: #d89f00; 
  
  --fun-color-1: #8e44ad;
  --fun-color-2: #3498db;
  --fun-color-3: #2ecc71;
  --fun-color-4: #e74c3c;
  --fun-color-5: #f39c12; 
  --fun-color-6: #9b59b6; 
  --fun-color-7: #1abc9c; 
  --fun-color-8: #f1c40f;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button li {
  list-style: none;
}

.header__button.cta {
  background: #201E43;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 30px 0px;
}

#features {
  padding: 4rem 2rem;
  text-align: center;
}

.feature-card {
  display: inline-block;
  width: 30%;
  margin: 1rem;
  animation: fadeInUp 1s ease-out;
}

.feature-card img {
  width: 50px;
  margin-bottom: 1rem;
  animation: zoomIn 1s ease-out;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline;
  margin: 0 1rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

.parallax {
  background-image: url('/asset/rb_1200.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


